.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.box {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #1D3461;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.box::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 300vh;
  height: 300vh;
  background: #009DDC;
  top: -50vh;
  transform: translateX(-20%) rotate(0deg);
  border-radius: 45%;
  animation: fill 7s ease-in infinite;
}

@keyframes fill {
  0% {
    top: -300vh;
    transform: translateX(-20%) rotate(360deg);
  }
  90% {
    top: -50vh;
    transform: translateX(-20%) rotate(0deg);
  }
  100% {
    background: #1D3461;
  }
}

.App-link {
  color: #F0F4EF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}