.App {
  text-align: center;
}

#logo-header {
  flex: 0.2;
  align-items: center;
  padding: 10px;
}

#logo-header img {
  border-radius: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #1D3461;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.box::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 300vh;
  height: 300vh;
  background: #009DDC;
  top: -50vh;
  transform: translateX(-20%) rotate(0deg);
  border-radius: 45%;
  animation: fill 7s ease-in infinite;
}

@keyframes fill {
  0% {
    top: -300vh;
    transform: translateX(-20%) rotate(360deg);
  }
  90% {
    top: -50vh;
    transform: translateX(-20%) rotate(0deg);
  }
  100% {
    background: #1D3461;
  }
}

.App-link {
  color: #F0F4EF;
}

#webcam {
  max-width: 80%;
  border-radius: 10;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fading-shadow-yellow {
  0% {
    box-shadow: 0px 0px 70px yellow;
  }
  100% {
    box-shadow: 0px 0px 0px yellow;
  }
}

@keyframes fading-shadow-green {
  0% {
    box-shadow: 0px 0px 70px green;
  }
  100% {
    box-shadow: 0px 0px 0px green;
  }
}

@keyframes fading-shadow-blue {
  0% {
    box-shadow: 0px 0px 70px blue;
  }
  100% {
    box-shadow: 0px 0px 0px blue;
  }
}

@keyframes fading-shadow-red {
  0% {
    box-shadow: 0px 0px 70px red;
  }
  100% {
    box-shadow: 0px 0px 0px red;
  }
}